.heading{
    font-weight:450;
}
a{
    text-decoration:none;
}
.border
{
    border: 1px solid rgb(232, 232, 232);
}
.photo1
{
    height:14rem;
    width:22rem;
    z-index:-1;
 
}
.pm
{
    padding:0px 0px 0px 0px;
    margin:10px 0px 0px 0px;
}
.position{
    padding-left:0.5rem;
}
.position h6{
    /* margin-top:-1rem; */
    z-index:-2;
    background-color: white;
    font:Okra,Helvetica,sans-serif;
    font-weight:440;
    color: rgb(54, 54, 54);
    font-size:1.6rem;
}
.position p{
    font-size:1.2rem;
    line-height:1.2;
    color: rgb(79, 79, 79);
    font-weight:300;
}
.head{
    font-weight:500;
    font-size:3.6rem;
    line-height:1.2rem;
    color:rgb(28,28,28);
    font:36px Okra,Helvetica,sans-serif;   
}
.top
{
    margin-top:3rem;
}
.heading6{
    display:inline;
    font-weight:300;
    line-height:1.4;
    color:rgb(54,54,54);
    font-size:1.2rem;
    
}
.link{
    display:inline-flex;
    font-style:none;
    text-align:right;
    color:rgb(255, 126, 139);
    text-decoration:none;
    margin-left:7rem;
}
.link:hover{
    color:rgb(255, 126, 139);
}
.mg
{
    margin-top:1.5rem;
    margin-left:-30rem;
}
.ps{
     margin-top:1.5rem;
}
.set{
    text-align:left;
}
h6{
    margin-bottom:0;
}
.material-symbols-outlined{
    transform:rotate(270deg)
}
.pos{
    margin-top:-4rem;
    color:white;
    margin-left:1rem;
}
.pos a{
    color:white;
}
.px{
    height:12rem;
}
.px img{
    height:10.5rem;
}
.pop{
    color: rgb(54, 54, 54);
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: 350;
}
.indore{
    font-size:2.3rem;
    font-weight:490;
}
.if{
    margin-top:4rem;
}
.block{
    width:22.2rem;
    margin-right:1.5rem;
}
.block a{
    color:black;
    text-decoration: none;
}
.mt{
    margin-top:3rem;
}
.bt{
    margin-top:1.5rem;
}
.more{
    text-align:center;
    margin-top:1.7rem;
    padding:auto;
}